{% extends "blog/base.html" %} <!-- Extend the base template -->

{% load crispy_forms_tags %} <!-- Load crispy forms template tags -->

{% block content %} <!-- Start content block -->
    <div class="content-section"> <!-- Start content-section div -->
      <div class="media"> <!-- Start media div -->
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}"> <!-- Display user profile image -->
        <div class="media-body"> <!-- Start media-body div -->
          <h2 class="account-heading">{{ user.username }}</h2> <!-- Display username -->
          <p class="text-secondary">{{ user.email }}</p> <!-- Display user email -->
        </div> <!-- End media-body div -->
      </div> <!-- End media div -->
      <form method="POST" enctype="multipart/form-data"> <!-- Start form for updating profile info -->
          {% csrf_token %} <!-- CSRF token to prevent CSRF attacks -->
          <fieldset class="form-group"> <!-- Start fieldset for form grouping -->
              <legend class="border-bottom mb-4">Profile Info</legend> <!-- Legend for the form -->
              {{ u_form|crispy }} <!-- Render user update form using crispy forms -->
              {{ p_form|crispy }} <!-- Render profile update form using crispy forms -->
          </fieldset> <!-- End fieldset -->
          <div class="form-group"> <!-- Start form-group div -->
              <button class="btn btn-outline-info" type="submit">Update</button> <!-- Button to submit the form -->
          </div> <!-- End form-group div -->
      </form> <!-- End form -->
    </div> <!-- End content-section div -->
{% endblock content %} <!-- End content block -->
