{% extends "blog/base.html" %}

{% block content %}
    <!-- Content section for the delete post form -->
    <div class="content-section">
        <!-- Form for deleting the post -->
        <form method="POST">
            <!-- CSRF token for security -->
            {% csrf_token %}
            <!-- Fieldset with legend for the delete post form -->
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Post</legend>
                <!-- Display confirmation message -->
                <h2>Are you sure you want to delete the post "{{ object.title }}"</h2>
            </fieldset>
            <!-- Form group for buttons -->
            <div class="form-group">
                <!-- Button to submit the form and confirm deletion -->
                <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
                <!-- Button to cancel deletion and return to post detail page -->
                <a class="btn btn-outline-secondary" href="{% url 'post-detail' object.id %}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}
